* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: moccasin;
}
h1 {
    color:goldenrod;
    background-color:black;
}
header {
    color:dimgray;
}
menu {
    color:lightslategray;
}
ul {
    color:rgb(250, 218, 78);
}
ol {
    color:rgb(250, 218, 78);
}
main {
    color:rgb(250, 218, 78);
}
premise {
    color:rgb(250, 218, 78);
}
h2 {
    color: rgb(250, 218, 78);                      
}
h3 {
    color:  rgb(250, 218, 78);
}
hr {
    color:rgb(163, 133, 0);
}
p {
    color:rgb(250, 218, 78);
}
a {
    color:skyblue;
}
table {
    color:rgb(250, 218, 78);
}
label {
    color:rgb(250, 218, 78);
}
h5 {
    color: rgb(163, 133, 0);
}
nav {
    background-color:rgb(104, 71, 59);
    display: flex;
    flex-direction: row;
    border-style: solid;
    border-width: 1px; 
    padding: 20px;
    margin: 40px; 
    
}
body {
    background-image: url("https://i.pinimg.com/originals/24/2c/9f/242c9f3089080131ffe335600f10f005.jpg");
    background-size: cover;
    background-attachment: fixed; 
    font-family: 'Open Sans Condensed', sans-serif;
    Font-size: 14px; 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}         
header {    
    text-align: center;
}
div {
    background-color: rgb(177, 94, 63);
    font-size: 12px;
    margin: 4px;
    padding: 4px;
}
img {
    width: 30%;
}
article {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
}
article img {
    width: 100px;
    
}
article img: hover {
    width: 120px;
    margin-bottom: 20px;
}
article a {
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: rgb(197, 192, 189);
    color: rgb(126, 171, 230);
    padding-left: 10%;
    padding-right: 10%;
    rotate: 15deg;
}
article a: hover {
    background-color: thistle;
}
a{
    color: skyblue
}
a:hover {

    color: tomato;
}
footer:hover {
    background-color: black;
    color: gold;
    font-size: 2em;
}
@media screen and (max-width: 600px) {
    h1 {
    background-color: gold;
    color: black;
    }
}

